{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Priyanka Aurade</title>

  <!--
    - favicon"{% static 'assets/images/logo.ico' %}"
  -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon" />

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"  />

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
</head>

<body>
  <!--
    - #MAIN
  -->

  <main>
    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>
      <div class="sidebar-info">
        <figure class="avatar-box">
          <img src="{% static 'assets/images/priyanka.png' %}"  alt="Priyanka Aurade" width="60" />
        </figure>
        <center>
          <div class="info-content">
            <h1 class="name" title="Priyanka Aurade">Priyanka Aurade</h1>

            <p class="typewriter">Web developer</p>
          </div>
        </center>
        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>
      </div>

      <div class="sidebar-info_more">
        <div class="separator"></div>

        <ul class="contacts-list">
          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:priyanaurade1@gmail.com" class="contact-link">priyanaurade1@gmail.com</a>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+917499316020" class="contact-link">7499316020</a>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Birthday</p>

              <time datetime="1998-30-06">June 30, 1998</time>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Mumbai, india</address>
            </div>
          </li>
        </ul>

        <div class="separator"></div>

        <ul class="social-list">
          <li class="social-item">
            <a href="https://github.com/priyankaaurade1" class="social-link">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>
         
          <li class="social-item">
            <a href=" https://www.linkedin.com/in/priyanka-aurade-0965b5149/" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <!--
      - #main-content
    -->

    <div class="main-content">
      <!--
        - #NAVBAR
      -->

      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item">
            <button class="navbar-link active" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Portfolio</button>
          </li>

        </ul>
      </nav>

      <!--
        - #ABOUT
      -->

      <article class="about active" data-page="about">
        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>
            Presenting the Web App enchantress : Crafting Captivating and Cutting-Edge Web Applications.
          </p>
          
          <p>    
            In your search for someone to create captivating and cutting-edge web applications, let me introduce myself. I graduated with a Bachelor's degree in Information Technology from Mumbai University in 2021 and have since become a rising star in web development. Driven by a deep curiosity and a passion for technology, I started my journey in IT with a strong desire to make a meaningful impact.
          </p>
        </section>

        <!--
          - service
        -->

        <section class="service">
          <h3 class="h3 service-title">What I'm Doing</h3>

          <ul class="service-list">
            <li class="service-item">
              <div class="service-icon-box">
                <img src="{% static 'assets/images/icon-dev.svg' %}" alt="Web development icon" width="40" />
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web Development</h4>

                <p class="service-item-text">
                  As a passionate web developer, I specialize in high-quality website development with a strong focus on user experience and functionality. From front-end to back-end, I craft seamless and efficient web solutions.
                </p>
              </div>
            </li>

            <li class="service-item">
              <div class="service-icon-box">
                <img src="{% static 'assets/images/icon-app.svg'  %}" alt="PWA icon" width="40" />
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Progressive Web Apps (PWA)</h4>

                <p class="service-item-text">
                  Additionally, I have expertise in creating Progressive Web Apps (PWA) that provide an immersive and app-like experience to users while being highly performant and responsive across various devices.
                </p>
              </div>
            </li>

            <li class="service-item">
              <div class="service-icon-box">
                <img src="{% static 'assets/images/icon-python.svg' %}" alt="Python icon" width="40" />
              </div>
              <div class="service-content-box">
                <h4 class="h4 service-item-title">Python</h4>

                <p class="service-item-text">
                  Moreover, I have a strong command of Python programming, enabling me to create automation scripts for various tasks, streamlining processes, and optimizing workflows.
                </p>
              </div>
            </li>

            <li class="service-item">
              <div class="service-icon-box">
                <img src="{% static 'assets/images/flutter_icon.png' %}" alt="Python icon" width="40" />
              </div>
              <div class="service-content-box">
                <h4 class="h4 service-item-title">Flutter</h4>
                <p class="service-item-text">
                  Actively engaged in a comprehensive self-guided learning journey to acquire proficiency in Flutter, a versatile framework for building dynamic and interactive cross-platform mobile applications.
                </p>
              </div>
            </li>
          </ul>
        </section>

        <!--
          - testimonials
        -->

        <section class="testimonials">
          <h3 class="h3 testimonials-title">Testimonials</h3>

          <ul class="testimonials-list has-scrollbar">
            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>
                <figure class="testimonials-avatar-box">
                  <img src="{% static 'assets/images/avatar-1.png' %}"  alt="Saurin Jariwala" width="60" data-testimonials-avatar />
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>
                  Saurin Jariwala
                </h4>

                <time datetime="2021-06-01" data-testimonials-time style="display: none;">Forms9 (Managing Director)<span style="float: right;font-size: small;font-style: italic;">12 Dec, 2023</span></time>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    During my collaboration with Priyanka at Forms9 Pvt Ltd, I had the pleasure of witnessing her remarkable expertise in web development. She led the successful creation of diverse web applications, such as inventory management, billing software, and a seamless point-of-sale system. Priyanka's dedication to professionalism and keen attention to detail were evident in every aspect of her work.
                    Throughout our projects, Priyanka consistently demonstrated a deep understanding of our requirements, ensuring that the end products were both functional and visually appealing. Her problem-solving skills were outstanding, effortlessly addressing any challenges that arose.
                    One of Priyanka's standout qualities was her effective communication and adaptability, allowing for smooth and efficient development processes, even amid changing project needs. I wholeheartedly recommend Priyanka to anyone in need of top-notch web development services. She is a talented and reliable developer who consistently delivers exceptional results, going above and beyond expectations.
                  </p>
                </div>
              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>
                <figure class="testimonials-avatar-box">
                  <img src="{% static 'assets/images/avatar-2.png' %}"  alt="Christie Ramya" width="60" data-testimonials-avatar />
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>
                  Christie Ramya
                </h4>
                <time datetime="2023-03-03" data-testimonials-time style="display: none;">Accenture (Team Lead)<span style="float: right;font-size: small;font-style: italic;">30 Aug, 2022</span></time>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Priyanka's contribution as a QA Tester at Accenture was exceptional. Despite initially having limited knowledge of QA, she quickly grasped the concepts and skillfully handled complex data manipulation tasks using ETL tools. Her meticulous approach to data validation and analytical insights greatly impacted our project's success. Priyanka's proficiency in Microsoft Excel, along with her efficient test scenario execution, impressed our team. Her ability to adapt, learn, and deliver outstanding results in a short timeframe is commendable. We highly value Priyanka's dedication and look forward to witnessing her continued growth and success in the QA testing field.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </section>

        <!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>
          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">
            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="{% static 'assets/images/avatar-1.png' %}"  alt="Christy Ramya" width="80" data-modal-img />
              </figure>

              <img src="{% static 'assets/images/icon-quote.svg' %}"  alt="quote icon" />
            </div>

            <div class="modal-content">
              <h4 class="h3 modal-title" data-modal-title>Christy Ramya</h4>

              <time  data-modal-time>30 August, 2022</time>

              <div data-modal-text>
                <p>
                  Priyanka's contribution as a QA Tester at Accenture was exceptional. Despite initially having limited knowledge of QA, she quickly grasped the concepts and skillfully handled complex data manipulation tasks using ETL tools. Her meticulous approach to data validation and analytical insights greatly impacted our project's success. Priyanka's proficiency in Microsoft Excel, along with her efficient test scenario execution, impressed our team. Her ability to adapt, learn, and deliver outstanding results in a short timeframe is commendable. We highly value Priyanka's dedication and look forward to witnessing her continued growth and success in the QA testing field.
                </p>
              </div>
            </div>
          </section>
        </div>

      </article>

      <!--
        - #RESUME
      -->

      <article class="resume" data-page="resume">
        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <section class="timeline">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">
                ST. Francis Institute of Technology
              </h4>

              <span>2018 - 2021</span>

              <p class="timeline-text">
                B.E in IT - <b>7.30 CGPA</b> 
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">
                Sardar Vallabhbhai Patel Polytechnic
              </h4>

              <span>2015 - 2018</span>

              <p class="timeline-text">
                Diploma in Computer Engineering - <b>80.50%</b>
              </p>
            </li>
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">
                SMT. K.G.Mittal College of Arts & Commerce
              </h4>

              <span>2013 - 2015</span>

              <p class="timeline-text">
                Higher Secondary School Certificate (HSC) - <b>75.54%</b>
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Suvidyalaya Highschool</h4>

              <span>2012 - 2013</span>

              <p class="timeline-text">
                Secondary School Certificate (SSC) - <b>64.80%</b>
              </p>
            </li>

          </ol>
        </section>

        <section class="timeline">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="desktop-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
          </div>

          <ol class="timeline-list">
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Senior Software Developer</h4>
              <span style="font-weight: bold;">Forms9 Infotech LLP <span style="float: right;font-style: italic;">Oct 2022 — Present</span></span>
              <p class="timeline-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                At Forms9 Infotech LLP, I developed a POS application with an analysis feature that enables the company to effectively analyze their sales data. Additionally, I created a digital platform to streamline form filling for institutions, which eliminated data entry errors and optimized data management using the Django framework.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Application Developer Associate (QA Tester)</h4>
              <span style="font-weight: bold;">Accenture Solutions Pvt Ltd<span style="float: right;font-style: italic;">Apr 2022 — Sep 2022</span></span>            
              <p class="timeline-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                As a QA Tester at Accenture, I successfully deployed packages using ETL tools for Bank of Montreal. I conducted detailed data validation, excelled in Excel for micro-level analysis, and performed thorough positive and negative scenario testing. My dedication to precision and collaboration earned praise from the client and team.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Freelance Software Developer</h4>
              <span style="font-weight: bold;">Forms9 Infotech LLP<span style="float: right;font-style: italic;">Jul 2021 — Mar 2022</span></span>
              <p class="timeline-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                Designed and developed advanced web applications using Django, emphasizing responsive design and seamless user experience. Contributed significantly to the development of an inventory management system, Ecostock software for environmental stock management, and a comprehensive billing software solution.
              </p>
            </li>
            <!-- <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Freelancing</h4>
              <span style="font-weight: bold;">Word-of-Mouth Referrals<span style="float: right;font-style: italic;">2021 — Present</span></span>
              <p class="timeline-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                As a freelancer, I specialize in crafting responsive web applications, Progressive Web Apps (PWAs), and automation scripts for clients using Django. My focus on delivering high-quality solutions has enabled me to excel in creating tailored web experiences that meet the unique needs of each client
              </p>
            </li> -->

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Intership</h4>
              <span style="font-weight: bold;">OrganicDrop <span style="float: right;font-style: italic;">Mar 2021 — May 2021</span></span>
              <p class="timeline-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                During my internship, I skillfully developed impactful webpages that effectively promoted the company's products and services. Collaborating with marketing and design teams, I crafted user-friendly interfaces aligned with branding guidelines, driving brand awareness and boosting online presence.
              </p>
            </li>
            
          </ol>
        </section>

        <section class="skill">
          <h3 class="h3 skills-title">My skills</h3>

          <ul class="skills-list content-card">
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Python</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Django</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 95%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Flutter</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 30%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">JS</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 65%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Ajax</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 60%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">HTML/CSS</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 100%"></div>
              </div>
            </li>

            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">SQL</h5>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 70%"></div>
              </div>
            </li>
        
          </ul>
        </section>
      </article>

      <!--
        - #PORTFOLIO
      -->

      <article class="portfolio" data-page="portfolio">
        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>

        <section class="projects">
          <ul class="filter-list">
            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <!-- <li class="filter-item">
              <button data-filter-btn>Forms9</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Freelancing</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Accenture</button>
            </li> -->
          </ul>

          <div class="filter-select-box">
            <button class="filter-select" data-select>
              <div class="select-value" data-select-value>
                Select category
              </div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>
            </button>

            <ul class="select-list">
              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <!-- <li class="select-item">
                <button data-select-item>Forms9</button>
              </li>

              <li class="select-item">
                <button data-select-item>Freelancing</button>
              </li>

              <li class="select-item">
                <button data-select-item>Accenture</button>
              </li> -->
            </ul>
          </div>

          <ul class="project-list">
            <li class="project-item active" data-filter-item data-category="Forms9" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/Inventory1.png' %}" alt="inventorymanagement" loading="lazy" data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/Inventory2.png' %}" alt="inventorymanagement" loading="lazy" data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/Inventory3.png' %}" alt="inventorymanagement" loading="lazy" data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>Inventory Management</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  As a skilled and innovative web developer, I successfully designed and developed an advanced Inventory Management System for the esteemed company, <b style="color: var(--orange-yellow-crayola);">Forms9</b>. Leveraging cutting-edge technologies such as <b style="color: var(--orange-yellow-crayola);">Python, Django, HTML/CSS, JavaScript, AJAX, and REST API,</b> I created a feature-rich application that has transformed the way product data is managed.
                  <br><br>
                  <b style="color: var(--orange-yellow-crayola);">Seamless Product Data Management:</b>
                  <br>&#8226; User-friendly Multi-Inline Form: Effortlessly enter and store product data with the convenience of selecting cipher values based on price and adding product categories and sub-categories for efficient inventory organization.
                  <br>&#8226; Customizable Prints: Generate product labels, inwarded quantity reports, and packing records with ease for streamlined operations and error-free transactions.
                  <br>&#8226; Dispatch Feature: Monitor multiple packings sent outside the company for effective inventory control and accurate tracking.
                  <br>&#8226; Comprehensive Capabilities: From editing and deleting inward records to managing suppliers, the application empowers users to handle various inventory tasks effortlessly.
                  <br>&#8226; Robust Reporting: Gain valuable data analysis and performance evaluations, enabling informed decisions and optimized inventory management strategies.
                  <br><br>
                  This achievement showcases my expertise in web development and my commitment to creating sophisticated, user-centric solutions. I take great pride in this project and look forward to continuing my journey of delivering remarkable and impactful web applications to meet the unique needs of clients.
                </p>
              </a>
            </li>                 

            <li class="project-item active" data-filter-item data-category="Forms9" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/Billing1.png' %}" alt="billmanagement" loading="lazy" data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/Billing2.png' %}" alt="billmanagement" loading="lazy" data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/Billing3.png' %}" alt="billmanagement" loading="lazy" data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>Bill Management</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  Introducing a cutting-edge Billing Software designed specifically for the discerning needs of prominent companies - <b style="color: var(--orange-yellow-crayola);">Manage your incentives the right way with SPE</b>. This innovative solution empowers businesses to effortlessly track and manage all their bills from various sources, conveniently centralized in one comprehensive platform.
                  <br><br>
                  <b style="color: var(--orange-yellow-crayola);">Tailored for Giants of the Industry:</b>
                  <br>&#8226; Customizable Platform: SPE Billing Software can be tailored to individual plant requirements, offering unparalleled flexibility and adaptability to suit diverse business needs.
                  <br>&#8226; Robust Technology Stack: Built on Python, Django, HTML/CSS, JavaScript, AJAX, and REST API, this software stands as a testament to expertise in web development.
                  <br>&#8226; Enhanced Payment Processing: The inclusion of Razor Pay elevates the user experience, ensuring secure and hassle-free payment processing for enhanced convenience.
                  <br><br>
                  <b style="color: var(--orange-yellow-crayola);">Optimize Incentives Management:</b>
                  <br>&#8226; Streamlined Operations: SPE Billing Software empowers businesses to optimize their incentives management, streamline operations, and gain valuable financial insights.
                  <br>&#8226; Intuitive Interface: The system's intuitive interface and user-friendly design make it a valuable asset for any enterprise seeking utmost efficiency in their billing workflows.
                  <br><br>
                  This project is a remarkable addition to my portfolio, highlighting my ability to create sophisticated and functional software solutions that cater to the specific demands of distinguished companies. I am proud to have developed SPE Billing Software and look forward to presenting this achievement as a testament to my dedication and proficiency in delivering exceptional web applications.
                </p>
              </a>
            </li>
            
            <li class="project-item active" data-filter-item data-category="Freelancing" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/Instapdf1.png' %}" alt="instapdf" loading="lazy" data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/Instapdf2.png' %}" alt="instapdf" loading="lazy" data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/Instapdf3.png' %}" alt="instapdf" loading="lazy" data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>Instalab PDF</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  I am proud to have successfully developed a cutting-edge software solution for <b style="color:  var(--orange-yellow-crayola);">INSTALAB</b>, leveraging a powerful technology stack that includes Python, Django, HTML/CSS, JavaScript, AJAX, and REST API. This exceptional software offers seamless date and time integration into PDF documents, revolutionizing the way users manage and customize their files.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">The Core Functionality:</b>
                  <br>&#8226; User-Friendly Interface: The software allows users to input specific date and time data along with a PDF file. Upon clicking the submit button, the software dynamically generates and serves a modified PDF file, with the provided date and time precisely printed at the designated coordinates on each page.
                  <br>&#8226; Dynamic and Intelligent Approach: This intelligent and dynamic approach ensures that every document carries accurate and relevant timestamps, enhancing data clarity and organization.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Key Feature - Streamlining Repetitive Tasks:</b>
                  <br>&#8226; PDF Coordinates: Users can upload and set PDF coordinates in the database, granting them the convenience of future use. Subsequent interactions are simplified, reducing manual efforts and enhancing overall productivity.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Ensuring Data Security:</b>
                  <br>&#8226; Privacy and Confidentiality: The application is hosted on INSTALAB's private server, ensuring all interactions and files remain private and instilling trust and confidence in users.
                  <br><br>
                  My collaboration with INSTALAB has been an exciting journey, and I take great pride in delivering a software solution that caters to their specific requirements. This remarkable achievement underscores my expertise in web development and my commitment to excellence, and I eagerly anticipate further opportunities to create impactful and sophisticated applications that elevate user experiences and streamline operations for my clients.
                </p>
              </a>
            </li>
            
            <li class="project-item active" data-filter-item data-category="Accenture" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/Karseva1.png' %}" alt="Karseva" loading="lazy" data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/Karseva2.png' %}" alt="Karseva" loading="lazy" data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/Karseva3.png' %}" alt="Karseva" loading="lazy" data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>Karseva</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  Karseva is a visionary <b style="color:  var(--orange-yellow-crayola);">Progressive Web Application (PWA)</b> designed to support and care for the elderly, ensuring they lead fulfilling lives as they age gracefully. Our mission is to bridge the generational gap by connecting young adults willing to share their time and energy with the elderly, fostering harmony and compassion within communities.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Key Features:</b>
                  <br>&#8226; Seamless Connection: Karseva connects compassionate young adults with elderly individuals, promoting meaningful interactions and mutual support.
                  <br>&#8226; Coordinators: Dedicated coordinators act as bridges between advocates and customers, ensuring efficient communication and fostering strong relationships.
                  <br>&#8226; Technology-driven: Leveraging cutting-edge technologies like Python, Django, HTML/CSS, JavaScript, AJAX, and AWS Cloud, Karseva offers a seamless and secure user experience.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Advantages:</b>
                  <br>&#8226; Empowering Advocacy: Karseva empowers advocates to make a positive impact on the lives of aging parents and grandparents, fostering a sense of purpose and fulfillment.
                  <br>&#8226; Harmonious Community: By connecting generations, Karseva creates a harmonious community that promotes compassion, understanding, and shared experiences.
                  <br>&#8226; Accessible Care: Karseva ensures that elderly individuals receive the care and attention they deserve, enhancing their overall quality of life.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">The Impact:</b>
                  <br>&#8226; Transformative Connection: Karseva's transformative approach builds strong connections between generations, enriching lives on both ends.
                  <br>&#8226; Social Change: By promoting intergenerational care and support, Karseva contributes to positive social change and a more compassionate society.
                  <br>&#8226; Technological Innovation: Karseva showcases the power of technology in addressing real-world challenges, making a difference in the lives of the elderly.
                  <br><br>
                  With Karseva, we have harnessed the power of technology to foster a compassionate community that transcends boundaries, making the world a better place for the elderly and the young generation alike. 
                  <!-- I am honored to have created Karseva as part of the <b style="color:  var(--orange-yellow-crayola);">Accenture: GTIC competition</b>, and  -->
                    I am deeply committed to continuing our mission of creating impactful applications that bring positive change to the lives of people around the globe. Together, we can make a difference and uphold the spirit of Karseva - caring, sharing, and building a brighter future for all.
                </p>
              </a>
            </li>
            
            
            <li class="project-item active" data-filter-item data-category="Forms9" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/MiniInw1.png' %}" alt="MiniInw" loading="lazy" data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/MiniInw2.png' %}" alt="MiniInw" loading="lazy" data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/MiniInw3.png' %}" alt="MiniInw" loading="lazy" data-portfolio-image-3 style="display: none;" />
                </figure>
            
                <h3 class="project-title" data-portfolio-title>Ecostock</h3><br><br>
            
                <p class="project-category" data-portfolio-text style="display: none;">
                  Introducing "ECOSTOCK," a revolutionary <b style="color: var(--orange-yellow-crayola);">Progressive Web Application (PWA)</b> meticulously designed to elevate inventory management to new heights while embracing environmental consciousness. ECOSTOCK seamlessly integrates cutting-edge technologies, including Python, Django, HTML/CSS, JavaScript, AJAX, and REST API, to streamline inventory processes and reduce paper waste, making it an eco-friendly and efficient solution for businesses.
                  <br><br>
                  <b style="color: var(--orange-yellow-crayola);">Key Features:</b>
                  <br>&#8226; Advanced Inventory Management: With ECOSTOCK, managing inventory becomes effortless. Leverage Python, Django, and the latest technologies to stay ahead in inventory tracking and management.
                  <br>&#8226; Seamless Google Drive Integration: ECOSTOCK offers seamless integration with Google Drive Sheets, providing secure data storage and accessibility for every user.
                  <br>&#8226; Environmentally Conscious Image Processing: The application's innovative image processing feature automatically removes image backgrounds, reducing the need for additional editing software and promoting eco-friendly practices.
                  <br>&#8226; Intelligent Data Linking: Generate convenient links for each image, and effortlessly save them into the corresponding Excel sheet, enabling quick access and retrieval of essential data.
                  <br><br>
                  <b style="color: var(--orange-yellow-crayola);">The Impact:</b>
                  <br>&#8226; Sustainable Inventory Management: ECOSTOCK empowers businesses to embrace eco-conscious practices while experiencing optimal productivity and performance.
                  <br>&#8226; Fostering Environmental Responsibility: As the creator of ECOSTOCK, I am committed to delivering impactful solutions that resonate with businesses seeking sustainable success.
                  <br>&#8226; Showcasing Transformative Capabilities: ECOSTOCK stands as a testament to the transformative potential of technology, inspiring others to embrace innovation for a brighter, more sustainable future.
                  <br><br>
                  As a web developer with a passion for innovation and sustainability, I take great pride in creating solutions like ECOSTOCK that bridge the gap between technology and environmental responsibility. Join me in celebrating this remarkable achievement as we continue our journey of responsible innovation and create a greener, more sustainable world through ECOSTOCK.
                </p>
              </a>
            </li>
            <!--  -->
            <li class="project-item active" data-filter-item data-category="Forms9" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/verification1.png' %}" alt="verification" loading="lazy" data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/verification2.png' %}" alt="verification" loading="lazy" data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/verification3.png' %}" alt="verification" loading="lazy" data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>Form2Fill</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  Form2Fill is a digital platform providing a solution to digitize the processes of form filling requirements of various institutions, thereby eliminating the need for pre-printed forms and an end to data entry errors, hence saving time and space on voluminous and repetitive paperwork.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Key Features:</b>
                  <br>&#8226; Streamlined Digital Forms: Handwritten forms become a thing of the past. Users benefit from editable and dynamic digital forms that offer effortless editing, spell-checking, and revision capabilities, ensuring a professional and polished outcome.
                  <br>&#8226; Seamless Integration: The platform seamlessly integrates with applicant tracking systems, databases, and software, allowing institutions to optimize data flow, enhance analysis, and make informed decisions.
                  <br>&#8226; Privacy and Security: Form2Fill prioritizes data security, ensuring the utmost privacy and confidentiality. The traditional inefficiencies of physical storage and transportation are eliminated, giving users peace of mind.
                  <br>&#8226; User-Centric Subscription Model: Form2Fill offers a flexible subscription-based revenue model, providing different pricing tiers based on the volume of documents processed. The platform's features can be tailored to meet diverse client needs, including integration with other software and advanced security options.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Advantages:</b>
                  <br>&#8226; Time-Saving Efficiency: Form2Fill accelerates the form-filling process, replacing time-consuming handwritten documents with swift digital solutions.
                  <br>&#8226; Elimination of Data Entry Errors: Say goodbye to data entry mistakes with Form2Fill's dynamic and error-free digital forms.
                  <br>&#8226; Enhanced Data Management: The platform enables seamless integration with various software applications, promoting automated data extraction, analysis, and integration with other systems.
                  <br>&#8226; Convenient and Organized Storage: Digital forms are easily stored, duplicated, and retrieved when needed, reducing physical storage hassles.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">The Impact:</b>
                  <br>&#8226; Form2Fill is a transformative digital solution that revolutionizes form filling for institutions of all sizes. With its user-centric design, advanced technology stack, and commitment to data privacy, Form2Fill empowers businesses to unlock new levels of efficiency and productivity.
                  <br><br>
                  As a web developer with a passion for innovation, I take great pride in creating solutions like Form2Fill that bridge the gap between traditional processes and modern advancements. This project is a testament to my dedication to excellence and my commitment to delivering remarkable web applications that exceed client expectations.
                  <br><br>
                  Form2Fill stands as a cornerstone of my portfolio, showcasing my proficiency in crafting tailored solutions that address real-world challenges. Join me in celebrating this remarkable achievement as I continue my journey of delivering impactful web applications to meet the unique needs of clients worldwide. Together, we embrace the future of form-filling with Form2Fill - where convenience, security, and cutting-edge technology converge to reshape the way institutions manage their form processes.
                </p>
              </a>
            </li>

            <li class="project-item active " data-filter-item data-category="Freelancing" data-portfolio-item>
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{% static 'assets/images/portfolio/watermark.jpeg' %}" alt="watermark" loading="lazy" data-portfolio-image-1 />
                  <img src="{% static 'assets/images/portfolio/watermark2.jpg' %}" alt="watermark" loading="lazy" data-portfolio-image-2 style="display: none;" />
                  <img src="{% static 'assets/images/portfolio/watermark3.png' %}" alt="watermark" loading="lazy" data-portfolio-image-3 style="display: none;" />
                </figure>
                <h3 class="project-title" data-portfolio-title>Watermark Generator</h3><br><br>
                <p class="project-category" data-portfolio-text style="display: none;">
                  Watermark Generator is a cutting-edge Progressive Web App (PWA) project that empowers users to seamlessly add custom watermarks to their images. By uploading an image and entering their desired watermark text, users can effortlessly generate watermarked images that are protected and bear their personal or brand identity.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">Key Features:</b>
                  <br>&#8226; Watermark Creator boasts an intuitive and user-friendly interface, enabling users to swiftly navigate through the app with ease.
                  <br>&#8226; As a Progressive Web App, Watermark Creator can be accessed through any modern web browser, providing users with an immersive and responsive experience across various devices.
                  <br>&#8226; Users can conveniently upload their images directly from their devices, ensuring a seamless and efficient process.
                  <br>&#8226; Personalization is at the core of Watermark Creator. Users can specify their desired watermark text, allowing them to add their name, brand, or any preferred text to the image.
                  <br><br>
                  <b style="color:  var(--orange-yellow-crayola);">The Technology Stack:</b>
                  <br> Watermark Generator is Progressive Web App (PWA) technology stack by using HTML5, CSS3, JavaScript, Bootstrap, Python (Django), Pillow, PWA features, Git.
                  <br><br>
                  
                </p>
              </a>
            </li>
            
            
            

           
          </ul>
        </section>
      </article>


      <!--
        - portfolio modal
      -->

      <div class="modal-container" data-modal-container-portfolio >
        <div class="overlay" data-overlay-portfolio></div>

        <section class="testimonials-modal" style="gap: 0 !important;max-width: fit-content;">
          <button class="modal-close-btn" data-modal-close-btn-portfolio>
            <ion-icon name="close-outline"></ion-icon>
          </button>

          <div class="modal-img-wrapper">
            <figure class="modal-avatar-box">
              <img src="{% static 'assets/images/avatar-1.png' %}"  alt="Christy Ramya" style="margin: 10 !important;width: 250 !important;"  data-modal-img-portfolio-1/>
              <img src="{% static 'assets/images/avatar-1.png' %}"  alt="Christy Ramya" style="margin: 10 !important;width: 250 !important;"  data-modal-img-portfolio-2 />
              <img src="{% static 'assets/images/avatar-1.png' %}"  alt="Christy Ramya" style="margin: 10 !important;width: 250 !important;"  data-modal-img-portfolio-3 />
            </figure>
          </div>

          <div class="modal-content-container" style="max-height: 500px;overflow-y: auto;">
            <h4 class="h3 modal-title" data-modal-title-portfolio style="color: var(--orange-yellow-crayola);"></h4>
            <div data-modal-text-portfolio style="color: #4b4e56;">          
            </div>
          </div>
        </section>
      </div>


      <!--
        - #BLOG
      -->

      <!-- <article class="blog" data-page="blog">
        <header>
          <h2 class="h2 article-title">Blog</h2>
        </header>

        <section class="blog-posts">
          <ul class="blog-posts-list">
            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img src="{% static 'assets/images/blog-1.jpg' %}"  alt="Design conferences in 2022" loading="lazy" />
                </figure>

                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">
                    Design conferences in 2022
                  </h3>

                  <p class="blog-text">
                    Created this blog for design conference in 2022.
                  </p>
                </div>
              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img src="{% static 'assets/images/blog-2.jpg' %}"  alt="Best fonts every designer" loading="lazy" />
                </figure>

                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">
                    Best fonts every designer
                  </h3>

                  <p class="blog-text">
                    Blog created for developers and designer to give best
                    fonts for their projects.
                  </p>
                </div>
              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img src="{% static 'assets/images/blog-3.jpg' %}"  alt="Design digest #80" loading="lazy" />
                </figure>

                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">Design digest #80</h3>

                  <p class="blog-text">
                    This blog for designers to improve their creativity.
                  </p>
                </div>
              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img src="{% static 'assets/images/blog-4.jpg' %}"  alt="UI interactions of the week" loading="lazy" />
                </figure>

                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">
                    UI interactions of the week
                  </h3>

                  <p class="blog-text">
                    This blog about best ui interactions developed in the
                    week.
                  </p>
                </div>
              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img src="{% static 'assets/images/blog-5.jpg' %}"  alt="The forgotten art of spacing" loading="lazy" />
                </figure>

                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">
                    The forgotten art of spacing
                  </h3>

                  <p class="blog-text">
                    Blog is for creators The importence of spacing in design
                    proffesion.
                  </p>
                </div>
              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">
                <figure class="blog-banner-box">
                  <img src="{% static 'assets/images/blog-6.jpg' %}"  alt="Design digest #79" loading="lazy" />
                </figure>

                <div class="blog-content">
                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">Design digest #79</h3>

                  <p class="blog-text">
                    This blog for designers to improve their creativity.
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </section>
      </article> -->

    </div>
  </main>

  <!--
    - custom js link
  -->
  <script src="{% static 'assets/js/script.js' %}" ></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>